<tr>
  <td class="item">
	<% membership.current_user_id = @current_user.id %>
	<%= gravatar_for membership.user, :size => 30 %>
    <span class="item_link" >
      <%= link_to membership.user.name, user_path(membership.user_id) %>
    </span>
	<span class="item_commands" >
	  <%= render partial: 'memberships/membership_command', collection: membership.commands %>	  
	</span>
    <br/>
	<span class="item_status">
	  <%= membership.status %>
	</span>
  </td>
</tr>