<table>
	<h1></h1>

    <div class="span-24">
	<nav class="product">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
	</ul>
	</nav>
	</div>
	<br />

	<div class="action span-24">
	<nav class="action">
		<ul>
			<li><%= link_to 'SHOW ACCOUNTS', '#' %></li>
		</ul>
	</nav>
	</div>
	
	<tr>
		<td class="sidebar">
		</td>
		<td class="main">
			<%= render 'projects/index' %>
		</td>
	</tr>
	
</table>
