<h1></h1>

<nav class="product">
	<div class="span-24">
	</div>
</nav>

<br/>

<nav id="action-nav">
  <div class="span-24">
  <ul>
    <li><%= link_to @items_text, user_path(command: @items_command) %></li>
  </ul>
  </div>
</nav>
	
<table>
  <tr>
    <% if @command_form_partial %>
      <td class="sidebar">
        <%= render @command_form_partial %>
      </td>
    <% end %>
		
	<td class="main">
		<%= render @items_partial %>
	</td>
  </tr>
</table>
