<tr>
  <td class="index_item">
    <span class="item_link" >
      <%= link_to membership.project.name, project_path(membership.project_id) %>
    </span>
	<span class="item_commands" >
	  <%= render :partial => 'projects/membership_command', :collection => membership_commands(membership) %>	  
	</span>
    <br/>
	<span class="item_status">
	  <%= membership_status(membership) %>
	</span>
  </td>
</tr>