td.grid {
	width: 66%;
	vertical-align: top;
}

td.sidebar {
	width: 33%;
	padding-top: 10px;
	vertical-align: top;
}

td.item {
	/* tests depend on this id */
}

.item_link {	
  display:   inline;
  font-size: larger;
  font-weight: bold;
  color:     #666;
}

.item_status {
  display:   inline; 
  font-style: italic;
  color:     #666;
}

.item_commmands {	
  font-size: 33%;
  color:     black;
}
