$full-width: 710px;
$background-color: #ECF1EF;
$link-color: #09c;
$visited-link-color: #069;

@import "mixins";
@import "navbars";
@import "grid_and_sidebar";
@import "signup_button";
@import "forms";

body {
	background: $background-color;
}

section {
	padding: 1%;
	background: white;
}

section.container {
	margin-top: 1%;
	@include rounded(10px)	
}

header {
	img.system_logo {	
		padding: 0.5em;
		background: #7C8C74;
		@include rounded(10px)
	}
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-color;
		text-decoration: underline;
	}

	&:visited {
		color: $visited-link-color;
	}
}


/* users index */
ul.users {
	margin-top: 1em;
	margin-bottom: 1em;
}

.users li {
	list-style: none;
}
/* end users index */


